<html>
    <head>
        <title>Demo Chat</title>
        <script src="jquery.js"></script>
        <script src="functions.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css">
    </head>
    <script>
    </script>
    <body>
        Hello
    </body>
</html>